NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://username:password@host:port/dbname
MONGO_DB_NAME=cresify

FRONTEND_URL=http://localhost:3000
STRIPE_PUBLISHABLE_KEY=replace_with_stripe_publishable_key
STRIPE_SECRET_KEY=replace_with_stripe_secret_key
STRIPE_WEBHOOK_SECRET=replace_with_stripe_webhook_secret
STRIPE_CLIENT_ID=replace_with_stripe_connect_client_id
IMGBB_API_KEY=replace_with_imgbb_api_key
PLATFORM_COMMISSION_PERCENT=10
PLATFORM_COMMISSION_VAT_PERCENT=19
DEFAULT_CURRENCY=usd
REFUND_STRIPE_FEES_POLICY=platform
